## While loop

The while loop allows us, just like the for loop, to execute some code multiple times. The difference is that we set the condition on which we want the loop to stop.

In [4]:
count = 0
while count < 10:
    print('hello')
    count += 1

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [21]:
count = 0
while True:
    print('hello')
    count += 1
    if count%17 ==0:
        print(count)
        break
    
for number in range(15):
    result = number*number
    if result > 100:
        print(number)
        break

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
hello
17
11

In [24]:
count = 0
while count != 50:
    count += 1
    if count%17 ==0:
        continue
    print(count)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [26]:
for y in range(10):
    if y%2==0:
        continue
    print(y)

1
3
5
7
9

### Nested loops

Multiplication Table.

let's say that I want to print something like that:

1*1 = 1   1*2 = 2   1*3 = 3  (...) 1*10
2*1 = 2   2*2 = 4 (...) 2 * 10
(...)
9*1 = 9 (...) 9 * 10

In [18]:
numbers = range(10)
print(numbers)

range(0, 10)

In [16]:
for table in range(1,11):
    for number in range(1,3):
        print('{}*{} = {}'.format(table, number, table*number))

1*1 = 1
1*2 = 2
2*1 = 2
2*2 = 4
3*1 = 3
3*2 = 6
4*1 = 4
4*2 = 8
5*1 = 5
5*2 = 10
6*1 = 6
6*2 = 12
7*1 = 7
7*2 = 14
8*1 = 8
8*2 = 16
9*1 = 9
9*2 = 18
10*1 = 10
10*2 = 20

Let's say now that I have two lists of names. I want to create a third list that contains only the names that are in both lists

In [3]:
names1 = ['david', 'mark', 'andrew', 'ben', 'lea', 'anna']
names2 = ['andrew', 'mike', 'harvey', 'chandler', 'ross', 'harry', 'mark']
shared_names = []

for name in names1:
    for NAME in names2:
        if name == NAME:
            shared_names.append(name)
        
print(shared_names)

['mark', 'andrew']

### Lists within a list

In [27]:
table = [['a', 'b', 'c'], ['d', 'e', 'f'], ['g', 'h', 'i']]

for element in table:
    for letter in element:
        print(letter)

a
b
c
d
e
f
g
h
i

In [29]:
table = ['Mark', 'David']
j=0
i=0

while i< len(table):
    print(table[i])
    while j<len(table[i]):
        print(table[i][j])
        j += 1
    j = 0
    i += 1

Mark
M
a
r
k
David
D
a
v
i
d

### Exercise

ask the user to pick a letter from the board and replace that letter by 'X'. Let's use the while loop

## Dictionary

A dictionnary is another way of storing data. And it is very useful.
it looks like that:

In [ ]:
my_dict = {
    'first_name':'Theo',
    'last_name': 'Nataf'
}